<h1 class="display-5">Editing project status</h1>

<%= render "form", project_status: @project_status %>

<br>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%= link_to "Show this project status", @project_status, class: "btn btn-secondary" %>&ensp;
  <%= link_to "Back to project statuses", project_statuses_path, class: "btn btn-dark"%>
</div>


