<p style="color: green"><%= notice %></p>
<h1>Project duration time</h1>
<br>
<%id = params[:id]%>

<table class="table table-striped table-hover table table-bordered" style="background-color: #e3f2fd;">
  <thead class="table" style="background-color: #3AAFA9;">
    <tr>
      <th>Initial date</th>
      <th>Current date</th>
      <th>Total time spent</th>
      <th colspan="1"></th>
    </tr>

    <tbody>
    <tr>
        <td><%= (ProjectStatus.where(project_id:id).first.tansition_date).to_date %></td>
        <td><%= (ProjectStatus.where(project_id:id).last.tansition_date).to_date %></td>
        <td><%= ProjectStatus.projects_time(id)%>
    </tr>
  </tbody>
</table>


