<h1 class="display-5">Editing status</h1>

<%= render "form", status: @status %>

<br>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%= link_to "", statuses_path, class: "btn btn-outline-dark bi bi-box-arrow-left" %>&ensp;
  <%= link_to "", @status, class: "btn btn-outline-dark bi bi-search" %>

</div>


