<h1 class="display-5">Editing status</h1>

<%= render "form", status: @status %>

<br>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%= link_to "Show this status", @status, class: "btn btn-secondary" %>&ensp;
  <%= link_to "Back to statuses", statuses_path, class: "btn btn-dark"%>
</div>


