<h1 class="display-5">Editing state</h1>

<%= render "form", state: @state %>

<br>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%= link_to "", states_path, class: "btn btn-outline-dark bi bi-box-arrow-left" %>&ensp;
  <%= link_to "", @state, class: "btn btn-outline-dark bi bi-search"  %>
  
</div>
