<h1 class="display-5">Editing client</h1>

<%= render "form", client: @client %>

<br>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%= link_to "", clients_path, class: "btn btn-outline-dark bi bi-box-arrow-left" %>&ensp;
  <%= link_to "", @client, class: "btn btn-outline-dark bi bi-search" %>

</div>
