<center><h1>
  Final Project
  <small class="text-muted">Programing 2</small>
</h1></center>
<figure>
<figure class="text-center">
  <blockquote class="blockquote">
    <p>Universidad de los Andes (ULA).</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Merida, <cite title="Source Title">Estado Merida</cite>
  </figcaption>
</figure>
<br><br>
<center><p class="lead">
  With this app it will be possible to manage clients and projects, these clients will be classified by cities and states, on the other hand each project goes through a flow chart in which it can have different statuses, since the proposal is received and if it is accepted It has different statuses until the end of the project, otherwise it is considered finished. In addition, queries can also be made about clients and their projects.
</p></center>
<br><br>
<figure class="text-end">
  <blockquote class="blockquote">
    <p>Contributors.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Ander Lopez, Daniel Ostos, <cite title="Source Title">Ivan Maldonado.</cite>
  </figcaption>
</figure>
