<figure>
  <blockquote class="blockquote">
    <p>Ander te queremos.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Por favor que todo <cite title="Source Title">quede bonito</cite>
  </figcaption>
</figure>

<br>
<figure class="text-center">
  <blockquote class="blockquote">
    <p>Yo tambien los amo chiquisbabys.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Su querido <cite title="Source Title">Andercito</cite>
  </figcaption>
</figure>