<center><h1>
  Final Project
  <small class="text-muted">Programing 2</small>
</h1></center>
<figure>
<figure class="text-center">
  <blockquote class="blockquote">
    <p>Universidad de los Andes (ULA).</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Merida, <cite title="Source Title">Estado Merida</cite>
  </figcaption>
</figure>
<br><br>
<center><p class="lead">
  Description here.
</p></center>
<br><br>
<figure class="text-end">
  <blockquote class="blockquote">
    <p>Contributors.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Ander Lopez, Daniel Ostos, <cite title="Source Title">Ivan Maldonado.</cite>
  </figcaption>
</figure>
