<h1 class="display-5">Editing project</h1>

<%= render "form", project: @project %>

<br>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%= link_to "", projects_path, class: "btn btn-outline-dark bi bi-box-arrow-left"%>&ensp;
  <%= link_to "", @project, class: "btn btn-outline-dark bi bi-search" %>

</div>

