<div id="<%= dom_id project_status %>">
  <p>
    <strong>Tansition date:</strong>
    <%= project_status.tansition_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project_status.status_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= project_status.project_id %>
  </p>

</div>
