<h1>Editing project status</h1>

<%= render "form", project_status: @project_status %>

<br>

<div>
  <%= link_to "Show this project status", @project_status %> |
  <%= link_to "Back to project statuses", project_statuses_path %>
</div>
