<div id="<%= dom_id city %>">
  <p class="display-2">
    <strong>Name:</strong>
    <%= city.name %>
  </p>

  <p class="display-6">
    <strong>State:</strong>
    <%= city.state.name %>
  </p>

</div>
