<h1 class="display-5">Editing city</h1>

<%= render "form", city: @city %>

<br>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%= link_to "", cities_path, class: "btn btn-outline-dark bi bi-box-arrow-left"%>&ensp;
  <%= link_to "", @city, class: "btn btn-outline-dark bi bi-search" %>
</div>
