<ul class="list-group">
  <br/>
  <li class="list-group-item active" aria-current="true" style="background-color: #3AAFA9;"><h6>New city</h6></li>
  <%= render "form", city: @city %>
</ul>

<br/>
<div>

  <%= link_to "", cities_path, class: "btn btn-outline-dark bi bi-box-arrow-left"%>

</div>
